<div class="row">

    <div class="col-sd-12 col-md-12">
        <section class="text-center">
            <secrion class="banner_title">
                <h2>¡Parece que el periodo de convocatoria ha expirado!</h2>
            </secrion>
        </section>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 pt-5 pb-5">
        <div class="banner_img" style="width: 100%">
            <center>

                <img src="~/assets/images/estudiante_triste.png">
            </center>
        </div>
    </div>

    <div class="col-sd-12 col-md-12 pt-1">
        <section class="text-center">
            <secrion class="banner_title">
                <h2>La convocatoria para la inscripción está cerrada.</h2>
            </secrion>
        </section>
    </div>
</div>
