@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Mazer Admin Dashboard</title>
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/pagina_error_404.css">
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png" type="image/png">
</head>

<body>

    <div class="conten">
        <div class="conten__img">
            <img src="~/assets/images/404.png" alt="">
            <p class="conten__number">
                404
            </p>
        </div>

        <div class="col-md-8 col-12 offset-md-2">
            <div class="text-center">
                <br>
                <h1 class="error-title">OOPS!</h1>
                <p class="fs-5 text-white">Sentimos no mostrarte la página que buscas...</p>
                <a href="index.html" class="btn btn-lg btn-back mt-3">Regresar al Inicio</a>
            </div>
        </div>

    </div>


</body>

</html>