
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡ALTO!</title>
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/pagina_alto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>

    <div class="conten">
        <div class="col-md-8 col-12 offset-md-2">
            <div class="text-center">
                <h1 class="text-title my-animation-text">¡ALTO! ¿A dónde vas pequeño hacker...?</h1>
            </div>
        </div>
        <div class="conten__img">
            <img class="my-animation-img" src="~/assets/images/espia1.png" alt="">
        </div>
    </div>

    <script src="~/assets/plugin/components/jQuery/jquery-3.6.0.js"></script>
</body>

</html>