@{
    ViewData["Title"] = "Profesores";
}

   <div class="page-heading">
            <h3>Alta de Docentes</h3>
        </div>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-12 order-md-1 order-last">
                        <p class="text-subtitle text-muted">Registro de docentes. Los campos marcados con asterisco (*)
                            son obligatorios.</p>
                    </div>
                </div>
            </div>



            
            <section id="multiple-column-form">
                <div class="row match-height">
                    <!--------------------------------------Inicia Card Datos del Docente -------------------------------------->
                    <section id="basic-vertical-layouts">
                        <div class="row match-height">
                            <div class="col-md-9 col-12">
                                <div class="card sombra">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form form-vertical">
                                                <div class="form-body">


                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Nombre(s) *</label>
                                                                <input type="text" 
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="contact-info-vertical">Correo Electrónico
                                                                    Personal *</label>
                                                                <input type="email" 
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="email-id-vertical">Apellidos *</label>
                                                                <input type="text"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="password-vertical">Correo Electrónico
                                                                    Institucional *</label>
                                                                <input type="email" 
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                         <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="password-vertical">Teléfono 1 *</label>
                                                                <input type="text" 
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="password-vertical">Institución de
                                                                    Procedencia
                                                                    *</label>
                                                                <input type="text"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                                                                            
                                                       
                                                        
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label fr="password-vertical">Teléfono 2 </label>
                                                                <input type="text" 
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-------------------------------------Termina Card Datos del Docente -------------------------------------->
                            <!---------------------------------------Inicia Card Foto de Perfil ---------------------------------------->
                            <div class="col-xl-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-content">
                                        <img src="https://images.squarespace-cdn.com/content/v1/5475f6eae4b0821160f6ac3e/1575300253799-UZPOOB3GIP352JNMNSHB/bigstock-Portrait-Of-Asian-Teacher-In-F-273747487.jpg" id="imagenmuestra"
                                            class="card-img-top fit-image" alt="singleminded">
                                        <div class="card-body">
                                            <div class="col-12 d-flex justify-content-end">
                                                <!-- <button type="file" class="btn btn-primary me-1 mb-1" name="imagen" id="imagen">Editar
                                                    foto</button> -->
                                                    <input type="file" class="form-control" name="imagen" id="imagen">
                                            </div>          
                                        </div>         
                                    </div>      
                                </div>  
                            </div>
                            <div class="card-content">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Dar de alta</button>
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------Termina Card Foto de Perfil -------------------------------------->
                </div>

            </section>




            

        </div>