@{
    ViewData["Title"] = "Bouchers de pago";
}

        <div class="page-heading">
            <h3>Bauchers de Pago</h3>
        </div>
        <section id="multiple-column-form">
            <div class="row match-height">
                <!-- Basic Tables start -->
                <section class="section ">
                    <div class="row match-height">
                        <div class="col-md-6 col-0">
                            <div class="card sombra">
                                <div class="card-header">
                                    <h4 class="card-title">Bauchers de Pago Autorizados</h4>
                                </div>

                                <div class="card-body">
                                    <table class="table" id="table1">
                                        <thead>
                                            <tr>
                                                <th>Id Estudiante</th>
                                                <th>Documento</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>15486381</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15486548</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1548635623</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15484521</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15484788</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15480045</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15487810</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15480450</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15481147</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15483602</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15487325</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15489635</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15480258</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15480124</td>
                                                <td>comprobante_pago.pdf</td>

                                                <td>
                                                    <a href="#" class="btn icon btn-success" id="OpenBtn"><i
                                                            class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-xl-12 col-md-9 col-sm-6">-->
                        <!-- <section id="custom-file-input">
                            <div class="row"> -->
                                <div class="col-6">
                                    <div class="card sombra">
                                        <div class="card-header">
                                            <h4 class="card-title">Vista del Documento</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <center>

                                                    <div class="ExternalFiles">
                                                        <iframe src="~/assets/docs/a.pdf"
                                                        width="420" height="620" frameborder="0"></iframe>
                                                    </div>


                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--- </div>
                        </section> -->
                            </div>
                    </div>


        </section>
