#reordenable tr{
    cursor : move;
}

.acordeon-levels button > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sombra {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.01);
    filter: drop-shadow(1px 4px 4px  rgba(0,0,0,0.10));
}

.sombra-1 {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.01);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.20));
}
.editar-foto{
    z-index : 100;
    position : absolute;
    align-self : end;
    border-radius : 90%;
    height : 9%;
}
.img-joined {
    height: 40%;
}

.img_begin {
    height: 10%
}
.reference {
    background-color: #621132;
}