@model StudenIndexViewModel
@{
}

<div class="row">

            <div class="col-sm-12 col-md-12  align-content-center">
                <section class="banner contenedor">
                    <secrion class="banner_title">

                        <h2>OOPS!<br>Parece que aún no sigues un programa de estudios...</h2><br>
                        
                    </secrion>
                </section>
            </div>
                <div class="text-center">
                    <div class="d-inline col-sm-6 col-md-4 ">
                        <div class="banner_img">
                            <center>
                                <br>
                                <img src="~/assets/images/estudiante.png" alt="">
                            </center>
                        </div>
                </div>
                <div class="text-center mt-5">
                            <form asp-action="StudentProgramElection">
                              
                            <span class="h4 mb-2">Selecciona un programa de estudios</span>
                            <select  asp-for="id_program" asp-items="Model.Programs" class="form-select mt-4"></select>
                            <button class="btn btn-info mt-3">Dar de alta programa</button>
                            </form>
                        </div>
                </div>
        </div>
