
@{
}

<h1>
    Lo sentimos, ésta opción ya no está disponible para ti debido a que ya has iniciado un curso...
</h1>

<div class="text-center">
    <div class="d-inline col-sm-6 col-md-4 ">
        <div class="banner_img">
            <center>
                <br>
                <img src="~/assets/images/coursing.png" alt="">
            </center>
        </div>
    </div>
</div>
             