@{
}

<h1>
    ¡Te recomendamos actualizar tu número de control antes de realizar tu inscrpción al curso!
</h1>

            <div class="text-center">
                    <div class="d-inline col-sm-6 col-md-4 ">
                        <div class="banner_img">
                            <center>
                                <br>
                                <img src="~/assets/images/editing.png" alt="">
                            </center>
                        </div>
                    </div>
            </div>