
@{
}

<div class="row">

            <div class="col-sd-12 col-md-12">
                <section class="text-center">
                    <secrion class="banner_title">
                        <h2>¡Ya estás inscrito a un curso!</h2>
                    </secrion>
                </section>
            </div>
    
                <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="banner_img">
                            <center>
                            
                                <img src="~/assets/images/notification.png">
                            </center>
                            </div>
                </div>

                <div class="col-sd-12 col-md-12">
                    <section class="text-center">
                        <secrion class="banner_title">
                            <h2>Espera las notificaciones para saber si tu grupo se
                                aperturó.</h2>
                        </secrion>
                    </section>
                </div>
        </div>