@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasos Placement Test</title>
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets2/img/impl.png">
    <link rel="icon" type="image/png" href="~/assets2/img/impl.png">
    
    <link rel="stylesheet" href="~/css/pages/pagina_no_inscrito.css">
    <link rel="stylesheet" href="~/assets/css/main/app.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/main/app-dark.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/images/lodgo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="~/images/lodgo/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/css/shared/iconly.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/pages/filepond.css">
    


</head>
<body>
        <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" 
aria-hidden="false">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 p-5 pt-4 pb-4">
           
                  <div class="card-header text-center">
                      <h3 class="card-title">Bienvenido a SIEL</h3>
                      <h6 class="card-subtitle">Sistema de Información Escolar Loogan</h6>
                  </div>
                  <div class="card-body ">
                      <div class="text-center">
                          <p style="font-weight: bold">Registro al Placement Test</p>
                          <p>Por favor sigue los pasos para tu registro al Placement Test</p>
                      </div>                             

                          <div class="row mt-2 ">
                              <div class="d-flex justify-content-around">
                                  <div class="col-lg-5 col-sm-6 col-md-4 ">
                                      <div style="text-align:center">
                                          <label>1. Obtén la referencia bancaria que corresponde al pago de tu nivel</label>
                                          <img class="pt-4 pb-4" src="~/assets/images/documentos.png" style="width:29%"><br>
                                          <a asp-controller="Student" asp-action="StudentGetPaymentData"  class="btn btn-success">Referencia</a>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4 col-md-4 ">
                                      <div style="text-align:center">
                                          <label>2. Realiza tu inscripción al Placement Test</label>
                                          <img class="pt-4 pb-4" src="~/assets/images/inscription.png" style="width:45%"><br>
                                          <a asp-controller="Student" asp-action="NewJoining" class="btn btn-success">Inscribirme</a>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4 col-md-4 ">
                                      <div style="text-align:center">
                                          <label>3. Consulta las fechas de aplicación del Placement Test</label>
                                          <img class="pt-4 pb-4" src="~/assets/images/calendario.png" style="width:36%"><br>
                                          <a asp-controller="Student" asp-action="NewJoining" class="btn btn-success">Ver Fechas</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                  </div>
          
          </div>
         
      </div>
    </div>
  </div>
</div>
    

    
    <script src="~/js/app.js"></script>
    <script src="~/js/pages/dashboard.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/extensions/filepond.js"></script>
    <script src="~/assets/plugin/components/moment/moment.min.js"></script>
    <script src="~/assets/plugin/components/moment/moment-timezone-with-data.min.js"></script>
    <script src="~/assets/js/extensions/datatables.js"></script>

    <script>
        $(document).ready(function() {
          $('#myModal').modal('show');
        });
    </script>
</body>
</html>