@{
}
        <div class="page-heading">
            <h3>Modificar Datos del Estudiante</h3>
        </div>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-10 order-md-1 order-last">
                        <p class="text-subtitle text-muted">Únicamente los campos marcados con * podrán ser editados por
                            el alumno.</p>
                    </div>
                </div>
            </div>

            <!-- Basic Horizontal form layout section start -->
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                </div>
            </section>
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <img src="~/assets/images/samples/motorcycle.jpg" class="card-img-top img-fluid"
                                    alt="singleminded">
                                <div class="card-body">
                                    <center>
                                        <h5 class="card-title">Keyla Mariela Carrera Prieto</h5>
                                        <p class="card-text">
                                            Instituto Tecnológico de Tehuacán
                                        </p>
                                        <p class="card-text">
                                            Nivel Basico 4
                                        </p>
                                        <p class="card-text">
                                            Programa Regular
                                        </p>

                                    </center>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Datos Escolares</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">Id de Estudiante</label>
                                                    <input disabled type="text" id="first-name-column" class="form-control"
                                                        name="fname-column">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="last-name-column">Correo Electrónico
                                                        Institucional</label>
                                                    <input disabled type="text" id="last-name-column" class="form-control"
                                                       name="lname-column">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="city-column">Institución Educativa</label>
                                                    <input disabled type="text" id="city-column" class="form-control"
                                                        name="city-column">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="country-floating">Nivel </label>
                                                    <input disabled type="text" id="country-floating" class="form-control"
                                                        name="country-floating" >
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="company-column">Programa</label>
                                                    <input disabled type="text" id="company-column" class="form-control"
                                                        name="company-column" >
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic multiple Column Form section end -->
        </div>

        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Datos Personales</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column">Nombre(s) *</label>
                                                <input type="text" id="first-name-column" class="form-control"
                                                    name="fname-column">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="city-column">Edad *</label>
                                                <input type="text" id="city-column" class="form-control"
                                                    name="city-column">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">Apellidos *</label>
                                                <input type="text" id="last-name-column" class="form-control"
                                                    name="lname-column">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="company-column">Correo Electrónico Personal *</label>
                                                <input type="text" id="company-column" class="form-control"
                                                    name="company-column" >
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="company-column">Teléfono 1 *</label>
                                                <input type="text" id="company-column" class="form-control"
                                                    name="company-column" >
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="company-column">Contraseña *</label>
                                                <input type="text" id="company-column" class="form-control"
                                                    name="company-column" >
                                            </div>
                                        </div>



                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="company-column">Teléfono 2 *</label>
                                                <input type="text" id="company-column" class="form-control"
                                                    name="company-column" >
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="company-column">Repetir contraseña *</label>
                                                <input type="text" id="company-column" class="form-control"
                                                    name="company-column" >
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Guardar
                                                cambios</button>
                                            <!--<button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>-->

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>