@using SIEL_1836109025062022.Models.ViewModel
@model IEnumerable<AccountantAuthorizationViewModel>
@{
    ViewData["Title"] = "Bouchers de pago";
}



        <div class="page-heading">
            <h3>Bauchers de Pago</h3>
        </div>
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="row match-height">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Bauchers de Pago</h4>
                            </div>

                            <div col-md-6 col-sm-12>
                                <div class="card-body">
                                    <table class="table" id="table1">
                                        <thead>
                                            <tr>
                                                <th>No. de control</th>
                                                <th>Nombre(s)</th>
                                                <th>Apelido(s)</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>@item.stdt_control_number</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_name</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_surname</label>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info mr-3" asp-controller="Accountant" asp-action="ApproveConfirmation" asp-route-id="@item.id_inscription">
                                                            Ver comprobantes<i class="bi bi-eye-fill ms-2"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
