@{
}
<li class="sidebar-title">Contabilidad</li>

<li class="sidebar-item  has-sub">
    <a class='sidebar-link' >
        <i class="bi bi-bar-chart-fill"></i>
        <span>Contabilidad</span>
    </a>
    <ul class="submenu ">
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Accountant" asp-action="Index" >Bouchers de pago</a>
        </li> 
    </ul>
</li>