@{
}
<li class="sidebar-title">Contabilidad</li>

<li class="sidebar-item  has-sub">
    <a class='sidebar-link' >
        <i class="bi bi-bar-chart-fill"></i>
        <span>Contabilidad</span>
    </a>
    <ul class="submenu ">
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Accountant" asp-action="Index" >Todos</a>

            <a asp-area="" asp-controller="Accountant" asp-action="UnsolvedPayment" >Pendientes</a>
        </li> 
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Accountant" asp-action="AuthorizedPayment" >Autorizados</a>
        </li> 
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Accountant" asp-action="UnauthorizedPayment" >Rechazados</a>
        </li> 
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Accountant" asp-action="PaymentPlacementTest" >Placement Test</a>
        </li> 
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Accountant" asp-action="PaymentGraduatedProgram" >Programa de Egresados</a>
        </li> 
    </ul>
</li>