@{
}

<li class="sidebar-title">Administrador</li>
                    <li class="sidebar-item  has-sub">
                        <a class='sidebar-link' >
                            <i class="bi bi-person-badge-fill"></i>
                            <span>Administrador</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item ">
                                <a class="sidebar-link" asp-area="" asp-controller="CourseProgram" asp-action="Index">Programas</a>
                            </li>    
                            <li class="submenu-item" >
                                <a class="sidebar-link" asp-area="" asp-controller="Levels" asp-action="Index">Niveles</a>
                            </li>
                            <li class="submenu-item ">
                                <a class="sidebar-link" asp-area="" asp-controller="Schedule" asp-action="Index">Horarios</a>
                            </li>
                            <li class="submenu-item ">
                                <a class="sidebar-link" asp-area="" asp-controller="Teacher" asp-action="Index" >Profesores</a>
                            </li>
                            <li class="submenu-item ">
                                <a class="sidebar-link" asp-area="" asp-controller="Modality" asp-action="Index" >Modalidades</a>
                            </li>
                            <li class="submenu-item ">
                                <a class="sidebar-link" asp-area="" asp-controller="Announcement" asp-action="Index" >Convocatorias</a>
                            </li>
                        </ul>
                    </li>