@{
}
<li class="sidebar-item  has-sub">
    <a class='sidebar-link'>
        <i class="bi bi-bar-chart-fill"></i>
        <span>Inicio Estudiante</span>
    </a>
    <ul class="submenu ">
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Student" asp-action="Index">Mi Avance</a>
        </li>
        <li class="submenu-item ">
            <a href="https://www.youtube.com/channel/UCUXpwMzV4Mx5lV_NbnY2Kcw/videos">Tutoriales del Curso</a>
        </li>
    </ul>
</li>

<li class="sidebar-item  has-sub">
    <a class='sidebar-link'>
        <i class="bi bi-person-badge-fill"></i>
        <span>Inscripción</span>
    </a>
    <ul class="submenu ">
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Student" asp-action="StudentInscription">Reinscripción</a>
        </li>
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Student" asp-action="PlacementTest">Placement Test</a>
        </li>
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Student" asp-action="NewJoining">Nuevo Ingreso</a>
        </li>
    </ul>
</li>


<li class="sidebar-item  ">
    <a class='sidebar-link' asp-area="" asp-controller="Announcement" asp-action="AnnouncementList">
        <i class="bi bi-file-earmark-medical-fill"></i>
        <span>Convocatorias</span>
    </a>
</li>
<li class="sidebar-item  ">
    <a class="sidebar-link" asp-area="" asp-controller="Student" asp-action="StudentGetPaymentData">
        <i class="bi bi-credit-card-2-front-fill"></i>
        <span>Referencias de pago</span>
    </a>
</li>
<li class="sidebar-item  ">
    <a class="sidebar-link" asp-area="" asp-controller="Student" asp-action="StudentCurrentLevelElection">
        <i class="bi bi-building"></i>
        <span>Elección de nivel</span>
    </a>
</li>
<li class="sidebar-item  ">
    <a class="sidebar-link" asp-area="" asp-controller="Student" asp-action="StudentPersonalData">
        <i class="bi bi-person"></i>
        <span>Datos personales</span>
    </a>
</li>
@*<li class="sidebar-item  ">
    <a class="sidebar-link" href="https://ed.engdis.com//avatarisolution#/login" target="_blank">
        <i class="bi bi-laptop-fill"></i>
        <span>English Discoveries</span>
    </a>
</li>*@

<li class="sidebar-item  ">
    <a class="sidebar-link" type="button" onclick="openWindowWithPost('pltq',
        '12345', 'https://www.google.com.mx/', 'AS-Avatarisolution','EE7F349F-0F87-4A79-8607-04998F649C7B')">
        <i class="bi bi-laptop-fill"></i>
        <span>English Discoveries</span>
    </a>
</li>

<li class="sidebar-item  ">
    <a class="sidebar-link" href="https://wa.me/5215522461687" target="_blank">
        <i class="bi bi-whatsapp"></i>
        <span>Contácto</span>
    </a>
</li>


<form id="TheForm" method="post" action="https://ed.engdis.com/ExtLogin.aspx" target="TheWindow">
    <input type="hidden" name="UserName" />
    <input type="hidden" name="Password" />
    <input type="hidden" name="link" />
    <input type="hidden" name="IName" />
    <input type="hidden" name="token" />
    <!--<input type="hidden" name="Inst"/>-->
</form>

@* <input class="sidebar-link" type="button" value="English Discoveries" onclick="openWindowWithPost('pltq',
        '12345', 'https://www.google.com.mx/', 'AS-Avatarisolution','EE7F349F-0F87-4A79-8607-04998F649C7B')" />*@

<script type="text/javascript">
    function openWindowWithPost(UserName, Password, link, IName, token) {
        var f = document.getElementById('TheForm');
        f.UserName.value = UserName;
        f.Password.value = Password;
        f.link.value = link;
        f.IName.value = IName;
        f.token.value = token;
        f.submit();
    }
</script>