@{
}
<li class="sidebar-title">Facilitador</li>
<li class="sidebar-item  has-sub">
    <a class='sidebar-link'>
        <i class="bi bi-bar-chart-fill"></i>
        <span>Facilitador</span>
    </a>
    <ul class="submenu ">
        <li class="submenu-item ">
            <a asp-area="" asp-controller="Boucher" asp-action="Index">Estudiantes</a>
        </li>
    </ul>
</li>