@{
}
<li class="sidebar-item  has-sub">
<a class='sidebar-link' >
<i class="bi bi-bar-chart-fill"></i>
<span>Mi espacio</span>
</a>
<ul class="submenu ">
<li class="submenu-item ">
<a asp-area="" asp-controller="User" asp-action="UserPersonalData" >Datos personales</a>
</li> 
<li class="submenu-item ">
<a asp-area="" asp-controller="Teacher" asp-action="TeacherTrainingSection" >Capacitaciones</a>
</li>
<li class="submenu-item ">
<a asp-area="" asp-controller="Teacher" asp-action="TeacherResources" >Recursos</a>
</li>
</ul>
</li>



<li class="sidebar-item  has-sub">
<a class='sidebar-link' >
<i class="bi bi-bar-chart-fill"></i>
<span>Clases y alumnos</span>
</a>
<ul class="submenu ">
<li class="submenu-item ">
<a asp-area="" asp-controller="Teacher" asp-action="TeacherGroups" >Mis grupos</a>
</li> 
<li class="submenu-item ">
<a asp-area="" asp-controller="Boucher" asp-action="Index" >Mis estudiantes</a>
</li> 
</ul>
</li>
                    