@model Schedule
@{
    ViewData["Title"] = "Crear un horario";       
    var modality_name = ViewData["modality_name"].ToString();  
}

    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
        <div class="row match-height justify-content-center">
            <div class="col-md-8 col-12">
                <div class="card sombra">
                    <div class="card-header">
                        <h4 class="card-title">Crear un horario para @modality_name</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" asp-controller="Schedule" asp-action="CreateSchedule">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-label" asp-for="schedule_name">Turno</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" asp-for="schedule_name"class="form-control"
                                                placeholder="Ej.:Matutino, Vespertino, etc.">
                                                <span asp-validation-for="schedule_name" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="schedule_description">Descripción</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" class="form-control" asp-for="schedule_description"
                                                placeholder="Ej. 8:00 Am - 10:00 AM"/>
                                                <span asp-validation-for="schedule_description" class="text-danger"></span>
                                        </div>
                                        <input asp-for="schedule_modality" type="hidden"/>
                                        <input asp-for="schedule_level" type="hidden"/>

                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Guardar</button>
                                            
                                            <a class="btn btn-danger" asp-action="index">Cancelar</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                            @section Scripts{
                                <partial name = "_ValidationScriptsPartial"/>

                                <script>
                                    const urlGetModalities = '@Url.Action("GetModalitiesByLevel")';
                                    $(function(){
                                        $("#schedule_level").change(async function(){
                                            const selectedValue = $(this).val();
                                            await fetch(urlGetModalities, {
                                                method: 'POST',
                                                body: selectedValue,
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                }
                                            }).then((response)=> {
                                                //console.log(response);
                                                response.json().then((data)=>{
                                                    console.log(data);
                                                    const items = data.map(item => 
                                                        `<option value=${item.value}>${item.text}</option>`);
                                                    $("#schedule_modality").html(items);
                                                });
                                            });
                                        })
                                    })
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic Horizontal form layout section end -->

