@using SIEL_1836109025062022.Models.ViewModel
@model ModalityDetailViewModel
@{
    ViewData["Title"] = "Eliminar modalidad";
}

    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
        <div class="row match-height justify-content-center">
            <div class="col-md-8 col-12">
                <div class="card sombra">
                    <div class="card-header">
                        <h4 class="card-title">Se esta borrando la @Model.modality_name</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal" asp-controller="Modality" asp-action="DeleteModality">
                                
                                <div class="form-body">
                                    <input type="hidden" asp-for="id_modality"/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-label" asp-for="modality_name">Nombre</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" readonly asp-for="modality_name" class="form-control"
                                                placeholder="Nombre de programa">
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="modality_description">Descripción</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <textarea type="text" readonly class="form-control" asp-for="modality_description"
                                                placeholder="Descripción"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" asp-for="modality_name">Nivel asignado</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" readonly asp-for="level_name" class="form-control"
                                                placeholder="Nombre de programa">
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-danger me-1 mb-1">Borrar</button>
                                            <a class="btn btn-info" asp-action="index">Cancelar</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                                <!-- Basic Tables start -->
    

                            @section Scripts{
                                <partial name = "_ValidationScriptsPartial"/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>